<div class="navbar-top">
    <div class="site-brand"><a href="index.html">
            <h1><span><i class="fa fa-building-o"> </i></span>BUILD</h1>
        </a></div>
</div>
<div class="slider">
    <ul class="slides owl-carousel">
        <li><img src="http://ngetemplates.tech/build/build/img/slide1.jpg" alt="">
            <div class="caption slider-content center-align">
                <h2>WELCOME TO BUILD</h2>
                <h4>Lorem ipsum dolor sit amet.</h4><a href="" class="btn button-default">LEARN MORE</a>
            </div>
        </li>
        <li><img src="http://ngetemplates.tech/build/build/img/slide2.jpg" alt="">
            <div class="caption slider-content center-align">
                <h2>CONSTRUCTION</h2>
                <h4>Lorem ipsum dolor sit amet.</h4><a href="" class="btn button-default">LEARN MORE</a>
            </div>
        </li>
        <li><img src="http://ngetemplates.tech/build/build/img/slide3.jpg" alt="">
            <div class="caption slider-content center-align">
                <h2>ARCHITECTURE</h2>
                <h4>Lorem ipsum dolor sit amet.</h4><a href="" class="btn button-default">LEARN MORE</a>
            </div>
        </li>
        <li><img src="http://ngetemplates.tech/build/build/img/slide4.jpg" alt="">
            <div class="caption slider-content center-align">
                <h2>RENOVATION</h2>
                <h4>Lorem ipsum dolor sit amet.</h4><a href="" class="btn button-default">LEARN MORE</a>
            </div>
        </li>
    </ul>
</div>
<div class="section">
    <div class="container">
        <div class="title-head"><span>CONSTRUCTION</span>
            <h3>EXCELLENCE US</h3>
            <div class="divider"></div>
        </div>
        <div class="row">
            <div class="col s6">
                <div class="excellence right"><i class="fa fa-cubes"></i>
                    <h5>Best Quality</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
            </div>
            <div class="col s6">
                <div class="excellence"><i class="fa fa-server"></i>
                    <h5>Solid Modern</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
            </div>
        </div>
        <div class="row nomar-bottom">
            <div class="col s6">
                <div class="excellence right"><i class="fa fa-question-circle"></i>
                    <h5>Good Planing</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
            </div>
            <div class="col s6">
                <div class="excellence"><i class="fa fa-rocket"></i>
                    <h5>Experienced</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section bg-second work">
    <div class="container">
        <div class="title-head"><span>CONSTRUCTION</span>
            <h3>FEATURED WORK</h3>
            <div class="divider"></div>
        </div>
        <div class="work-owl ">
            <div class="item"><a class="image-popup" href="http://ngetemplates.tech/build/build/img/work1.jpg"><img
                        src="http://ngetemplates.tech/build/build/img/work1.jpg" alt=""></a></div>
            <div class="item"><a class="image-popup" href="http://ngetemplates.tech/build/build/img/work2.jpg"><img
                        src="http://ngetemplates.tech/build/build/img/work2.jpg" alt=""></a></div>
            <div class="item"><a class="image-popup" href="http://ngetemplates.tech/build/build/img/work3.jpg"><img
                        src="http://ngetemplates.tech/build/build/img/work3.jpg" alt=""></a></div>
            <div class="item"><a class="image-popup" href="http://ngetemplates.tech/build/build/img/work4.jpg"><img
                        src="http://ngetemplates.tech/build/build/img/work4.jpg" alt=""></a></div>
            <div class="item"><a class="image-popup" href="http://ngetemplates.tech/build/build/img/work5.jpg"><img
                        src="http://ngetemplates.tech/build/build/img/work5.jpg" alt=""></a></div>
            <div class="item"><a class="image-popup" href="http://ngetemplates.tech/build/build/img/work6.jpg"><img
                        src="http://ngetemplates.tech/build/build/img/work6.jpg" alt=""></a></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="title-head"><span>CONSTRUCTION</span>
            <h3>SERVICE</h3>
            <div class="divider"></div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="service"><i class="fa fa-building"></i>
                    <h4>CONSTRUCTION</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ducimus quidem, possimus
                        fuga, nisi cumque ea minima magni error sunt fugit recusandae voluptatibus omnis.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="service"><i class="fa fa-building-o"></i>
                    <h4>ARCHITECTURE</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ducimus quidem, possimus
                        fuga, nisi cumque ea minima magni error sunt fugit recusandae voluptatibus omnis.</p>
                </div>
            </div>
        </div>
        <div class="row nomar-bottom">
            <div class="col s12">
                <div class="service"><i class="fa fa-puzzle-piece"></i>
                    <h4>RENOVATION</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore ducimus quidem, possimus
                        fuga, nisi cumque ea minima magni error sunt fugit recusandae voluptatibus omnis.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section testimonial">
    <div class="container">
        <div id="owl-testimonial">
            <div class="item">
                <div class="avatar">
                    <img src="http://ngetemplates.tech/build/build/img/testimonial1.jpg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <h6>John Doe</h6>
            </div>
            <div class="item">
                <div class="avatar">
                    <img src="http://ngetemplates.tech/build/build/img/testimonial2.jpg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <h6>John Doe</h6>
            </div>
            <div class="item">
                <div class="avatar">
                    <img src="http://ngetemplates.tech/build/build/img/testimonial3.jpg" alt="">
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                <h6>John Doe</h6>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="title-head"><span>CONSTRUCTION</span>
            <h3>RECENT POST</h3>
            <div class="divider"></div>
        </div>
        <div class="recent-owl">
            <div class="item">
                <div class="recent-post"><img src="http://ngetemplates.tech/build/build/img/recentpost1.jpg" alt="">
                    <h4><a href="">Construction Building</a></h4><span class="date"><i class="fa fa-calendar"></i>
                        12 Dec, 2017</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime omnis illum, similique,
                        saepe cupiditate tempora perferendis, mollitia, ipsum incidunt qui facere.</p>
                </div>
            </div>
            <div class="item">
                <div class="recent-post"><img src="http://ngetemplates.tech/build/build/img/recentpost2.jpg" alt="">
                    <h4><a href="">Architecture Awesome</a></h4><span class="date"><i class="fa fa-calendar"></i> 12
                        Dec, 2017</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime omnis illum, similique,
                        saepe cupiditate tempora perferendis, mollitia, ipsum incidunt qui facere.</p>
                </div>
            </div>
            <div class="item">
                <div class="recent-post"><img src="http://ngetemplates.tech/build/build/img/recentpost3.jpg" alt="">
                    <h4><a href="">Renovation Fast</a></h4><span class="date"><i class="fa fa-calendar"></i> 12 Dec,
                        2017</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime omnis illum, similique,
                        saepe cupiditate tempora perferendis, mollitia, ipsum incidunt qui facere.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section contact-form">
    <div class="container">
        <div class="title-head">
            <h3>CONTACT US</h3>
        </div>
        <div class="contact-us">
            <div class="row">
                <div class="col s12">
                    <form action="send-mail.php" class="contact-form" id="contact-form" method="post">
                        <div class="form-group" id="name-field">
                            <input type="text" class="validate" id="form-name" name="form-name" placeholder="NAME" required="">
                        </div>
                        <div class="form-group" id="email-field">
                            <input type="email" class="validate" id="form-email" name="form-email" placeholder="EMAIL" required="">
                        </div>
                        <div class="form-group" id="subject-field">
                            <input type="text" class="validate" id="form-subject" name="form-subject" placeholder="SUBJECT" required="">
                        </div>
                        <div class="form-group" id="message-field">
                            <textarea name="form-message" id="form-message" cols="30" rows="10" class="materialize-textarea" placeholder="YOUR MESSAGE" required=""></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn button-default" type="submit" id="submit" name="submit">SEND MESSAGE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="social-media"><a href=""><i class="fa fa-facebook"></i></a><a href=""><i
                    class="fa fa-twitter"></i></a><a href=""><i class="fa fa-google"></i></a><a href=""><i
                    class="fa fa-linkedin"></i></a><a href=""><i class="fa fa-instagram"></i></a></div>
        <div class="copyright"><span>©AC - 2019</span></div>
    </div>
</div>