<div
    class="home page-template page-template-page-templates page-template-consta-builder page-template-page-templatesconsta-builder-php page page-id-29 kc-css-system">
    <div class="wrapper-content">

        <header>
            <!-- /Menu Overlay-->
            <div class="consta-overlay"></div>
            <div class="overlay-lang"></div>
            <a href="#navigation" class="nav-trigger">
                Menu <span></span>
            </a>

            <button class="lang-trigger">
                select language </button>
            <ul class="langs">


                <li id="menu-item-480" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-480"><a
                        href="#">English</a></li>
                <li id="menu-item-481" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-481"><a
                        href="#">Deutsch</a></li>
                <li id="menu-item-482" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-482"><a
                        href="#">Francais</a></li>


            </ul>

            <nav class="nav-container" id="navigation">
                <div class="nav-container-top">

                    <ul class="menu" id="onepage-menu">


                        <li id="menu-item-15"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-15"><a
                                href="#slider">Home</a></li>
                        <li id="menu-item-17"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-17">
                            <a href="#corporate">About Us</a>
                            <ul class="sub-menu">
                                <li id="menu-item-18"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18"><a
                                        href="#corporate">Corporate</a></li>
                                <li id="menu-item-19"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19"><a
                                        href="#team">Team</a></li>
                                <li id="menu-item-20"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20"><a
                                        href="#vehicles">Our Vehicles</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-21"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-21"><a
                                href="#services">Services</a></li>
                        <li id="menu-item-22"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22"><a
                                href="#projects">Projects</a></li>
                        <li id="menu-item-23"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-23"><a
                                href="#references">References</a></li>
                        <li id="menu-item-24"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-24"><a
                                href="#blog">Blog</a></li>
                        <li id="menu-item-25"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25"><a
                                href="#contact">Contact Us</a></li>



                    </ul>
                </div><!-- /.nav-container-top-->

                <div class="nav-container-bottom">
                    <ul class="company-profile">
                        <li><a target="_blank"
                                href="http://demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/dummy_pdf.pdf"><i
                                    class="ion-ios-cloud-download"></i>Download Company Brochure</a>
                        </li>

                        <li><a target="_blank"
                                href="http://demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/dummy_pdf.pdf"><i
                                    class="ion-ios-cloud-download"></i>Download Technical Service Brochure</a>
                        </li>

                    </ul><!-- /.company-profile-->
                </div><!-- /.nav-container-bottom-->
            </nav><!-- /.nav-container-->

            <a href=" http://demo.iamarif.com/consta-wp/ " class="logo"><img
                    src="./images/logo.png "
                    alt="Consta &#8211; One Page Construction Wordpress Theme"></a>

            <a href=" http://demo.iamarif.com/consta-wp/ " class="logo-white"><img
                    src="./images/white-logo.png "
                    alt="Consta &#8211; One Page Construction Wordpress Theme"></a>

        </header>


        <section id="slider" class="section section-slider">
            <div id="owl-consta" class="owl-carousel">




                <div class="item style-one"
                    style="background-image: url(http://demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/1.jpg);">
                    <div class="caption">
                        <div class="frame">
                            <div class="caption-text">
                                <h3>we are</h3>
                                <h1>the leaders</h1>
                                <p>in the construction</p>
                            </div>
                            <div class="buttons spy-buttons">
                                <a href="#corporate" class="caption-button dark"><span>about us</span></a>

                                <a href="#team" class="caption-button white"><span>our team</span></a>
                            </div>
                        </div><!-- /.frame-->
                    </div><!-- /.caption-->
                </div><!-- /.item-->






                <div class="item style-two"
                    style="background-image: url(http://demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/2.jpg);">
                    <div class="container">
                        <div class="caption"
                            style="background: url(http://demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/half-frame.png) top left no-repeat;">
                            <div class="frame">
                                <div class="caption-text">
                                    <h3>we are</h3>
                                    <h1>construct your future</h1>
                                    <p>contact with us</p>
                                </div>
                                <div class="buttons spy-buttons">
                                    <a href="#contact" class="caption-button dark"><span>our address</span></a>

                                    <a href="#contact" class="caption-button white"><span>contact form</span></a>
                                </div>
                            </div><!-- /.frame-->
                        </div><!-- /.caption-->
                    </div><!-- /.container-->
                </div><!-- /.item-->






                <div class="item style-three"
                    style="background-image: url(http://demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/3-1.jpg);">
                    <div class="container">
                        <div class="caption"
                            style="background: url(http://demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/frame.png) top left no-repeat;">
                            <div class="frame">
                                <div class="caption-text">
                                    <h3>our main goal is</h3>
                                    <h1>build your “dreams”</h1>
                                    <p>please check our clients&#8217; dreams</p>
                                </div>
                                <div class="buttons spy-buttons">
                                    <a href="#references" class="caption-button dark"><span>our references</span></a>

                                    <a href="#projects" class="caption-button white"><span>our projects</span></a>
                                </div>
                            </div><!-- /.frame-->
                        </div><!-- /.caption-->
                    </div><!-- /.container-->
                </div><!-- /.item-->




            </div><!-- /#owl-consta .owl-carousel-->
        </section><!-- /.consta-slider-->


        <section id="corporate" class="section section-corporate">
            <div class="about-line"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="about-text">
                            <h2>We are <strong>the best</strong> of<br />
                                construction</h2>
                            <div class="line"></div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut felis dui, facilisis ornare
                                elit in, ultrices tempus magna. Praesent vulputate ultricies neque, ut aliquet nulla
                                dignissim quis. Nam pulvinar lorem vitae enim vestibulum fermentum. Phasellus a nulla
                                lobortis, consequat massa in, semper nulla.</p>
                            <div class="line gray"></div>
                            <p class="small-text">In ac lorem semper nisi ultricies aliquam at et massa. Suspendisse mi
                                lorem, placerat ac posuere et, tempor sed sapien. Nulla ex arcu, feugiat a interdum sed,
                                tincidunt id massa. Duis eu enim risus. Nam ultrices ut odio sed dignissim. Vestibulum
                                blandit enim lorem. Phasellus sit amet dui in risus rhoncus consectetur sit amet sit
                                amet massa. Sed malesuada sem vel molestie aliquet. Duis imperdiet blandit tempor&#8230;
                            </p>
                        </div><!-- /.about-text-->
                    </div><!-- /.col-md-5-->

                    <div class="col-md-2">

                        <div class="section-title">
                            <h3>Corporate</h3>
                        </div><!-- /.section-title-->

                        <div class="fact-circles">


                            <div class="circle" data-aos="fade-up" data-aos-delay="">
                                <div class="circle-content">
                                    <span class="number">15</span>
                                    <span>years</span>
                                </div>
                            </div>


                            <div class="circle" data-aos="fade-up" data-aos-delay="300">
                                <div class="circle-content">
                                    <span class="number">895</span>
                                    <span>projects</span>
                                </div>
                            </div>


                            <div class="circle" data-aos="fade-up" data-aos-delay="600">
                                <div class="circle-content">
                                    <span class="number">235</span>
                                    <span>happy clients</span>
                                </div>
                            </div>


                        </div><!-- /.facts-->
                    </div><!-- /.col-md-2-->

                    <div class="col-md-5">
                        <div class="photo-frames">
                            <div class="frame top-left" data-parallaxify-range-x="160" data-parallaxify-range-y="100">
                                <img src="https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/2-1.jpg?fit=258%2C387"
                                    alt="corporate-2">
                            </div>
                            <div class="frame middle"></div>
                            <div class="frame bottom-right" data-parallaxify-range-x="-160"
                                data-parallaxify-range-y="-100">
                                <img src="https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/1-1.jpg?fit=258%2C387"
                                    alt="corporate-1">
                            </div>
                        </div><!-- /.photo-frames-->
                    </div><!-- /.col-md-5-->

                </div><!-- /.row-->
            </div><!-- /.container-->
        </section><!-- /.section-corporate-->



        <section id="team" class="section section-team">
            <div class="section-title">
                <span class="vertical-line top"></span>
                <h3 data-aos="fade-up" data-aos-delay="600">team</h3>
                <span class="vertical-line bottom" data-aos="fade-up" data-aos-delay="900"></span>
            </div><!-- /.section-title-->

            <div class="container">
                <div class="row">
                    <div id="owl-team" class="owl-carousel">



                        <div class="item">
                            <div class="team-member">
                                <div class="arc arc_start"></div>
                                <div class="arc arc_end"></div>
                                <figure>
                                    <a href=""><img
                                            src="https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/member-1.png?fit=206%2C170"
                                            alt="member-1"></a>
                                </figure>
                                <div class="member-name">John <span>Doe</span></div>
                                <div class="member-title">co-founder</div>
                                <div class="social-accounts">
                                    <ul>

                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>


                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>


                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.item-->


                        <div class="item">
                            <div class="team-member">
                                <div class="arc arc_start"></div>
                                <div class="arc arc_end"></div>
                                <figure>
                                    <a href=""><img
                                            src="https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/member-2.png?fit=206%2C170"
                                            alt="member-2"></a>
                                </figure>
                                <div class="member-name">David <span>Doe</span></div>
                                <div class="member-title">chef engineer</div>
                                <div class="social-accounts">
                                    <ul>

                                        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>


                                        <li><a href="#" target="_blank"><i class="fa fa-flickr"></i></a></li>


                                        <li><a href="#" target="_blank"><i class="fa fa-youtube"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.item-->


                        <div class="item">
                            <div class="team-member">
                                <div class="arc arc_start"></div>
                                <div class="arc arc_end"></div>
                                <figure>
                                    <a href=""><img
                                            src="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/member-3.png?fit=206%2C170"
                                            alt="member-3"></a>
                                </figure>
                                <div class="member-name">jack <span>doe</span></div>
                                <div class="member-title">engineer</div>
                                <div class="social-accounts">
                                    <ul>

                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>


                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>


                                        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>


                                        <li><a href="#" target="_blank"><i class="fa fa-slack"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.item-->


                        <div class="item">
                            <div class="team-member">
                                <div class="arc arc_start"></div>
                                <div class="arc arc_end"></div>
                                <figure>
                                    <a href=""><img
                                            src="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/member-4.png?fit=206%2C170"
                                            alt="member-4"></a>
                                </figure>
                                <div class="member-name">jane <span>doe</span></div>
                                <div class="member-title">engineer</div>
                                <div class="social-accounts">
                                    <ul>

                                        <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>


                                        <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                        </div><!-- /.item-->


                    </div><!-- /#owl-team-->
                </div><!-- /.row-->
            </div><!-- /.container-->
        </section><!-- /.section-team-->


        <section id="vehicles" class="section section-vehicles">
            <div class="section-title">
                <span class="vertical-line" data-aos="fade-up"></span>
                <h3 data-aos="fade-up" data-aos-delay="300">Vehicles</h3>
                <span class="vertical-line bottom" data-aos="fade-up" data-aos-delay="600"></span>
            </div><!-- /.section-title-->

            <div class="vehicle-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">


                            <div class="col-md-4" data-aos="fade-right" data-aos-delay="600">
                                <div class="icon">
                                    <i class="ico-tower-crane"><span class="numberofvehicles"><em>3</em></span></i>
                                </div>
                            </div>



                            <div class="col-md-4" data-aos="fade-right" data-aos-delay="300">
                                <div class="icon">
                                    <i class="ico-buldozer"><span class="numberofvehicles"><em>4</em></span></i>
                                </div>
                            </div>



                            <div class="col-md-4" data-aos="fade-right" data-aos-delay="">
                                <div class="icon">
                                    <i class="ico-excavator"><span class="numberofvehicles"><em>22</em></span></i>
                                </div>
                            </div>

                            <div class="clearfix"></div>


                            <div class="col-md-4" data-aos="fade-right" data-aos-delay="600">
                                <div class="icon">
                                    <i class="ico-roller-machine"><span class="numberofvehicles"><em>13</em></span></i>
                                </div>
                            </div>



                            <div class="col-md-4" data-aos="fade-right" data-aos-delay="300">
                                <div class="icon">
                                    <i class="ico-concrete-truck"><span class="numberofvehicles"><em>5</em></span></i>
                                </div>
                            </div>



                            <div class="col-md-4" data-aos="fade-right" data-aos-delay="">
                                <div class="icon">
                                    <i class="ico-car"><span class="numberofvehicles"><em>9</em></span></i>
                                </div>
                            </div>



                        </div><!-- /.col-md-6-->

                        <div class="col-md-6">
                            <div class="backgroundclip" data-aos="fade-up" data-aos-delay="600">
                                <div class="white-frame">
                                    <h1>we are ready for business</h1>
                                </div>
                            </div><!-- /.backgroundclip-->
                            <figure class="buldozer" data-aos="fade-up">
                                <img src="https://i1.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/buldozer.png?fit=656%2C311"
                                    alt="buldozer">
                            </figure>
                        </div><!-- /.col-md-6-->
                    </div><!-- /.row-->
                </div><!-- /.container-->
            </div><!-- /.vehicle-wrapper-->
        </section><!-- /.our-vehicles-->



        <section id="services" class="section section-services">

            <div class="section-title">
                <span class="vertical-line" data-aos="fade-up"></span>
                <h3 data-aos="fade-up" data-aos-delay="300">Our Services</h3>
                <span class="vertical-line bottom" data-aos="fade-up" data-aos-delay="600"></span>
            </div><!-- /.section-title-->

            <div class="services-wrapper">

                <div class="container">
                    <div class="row">




                        <div class="col-md-4">
                            <div class="service">

                                <h1>Renovation</h1>
                                <figure><img
                                        src="https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/renovation.jpg?fit=400%2C228"
                                        alt="Renovation"></figure>
                                <p>Cras enim nisl, pellentesque sed nunc non, pulvinar gravida neque. Phasellus volutpat
                                    tellus sit amet sapien imperdiet facilisis. Vestibulum id egestas velit. Sed
                                    efficitur purus in metus</p>
                                <button class="more" data-toggle="modal" data-target="#serviceModal1"
                                    data-aos="fade-up">more</button>
                            </div><!-- /.service-->
                        </div><!-- /.col-md-4-->


                        <div class="col-md-4">
                            <div class="service center">

                                <h1>Construction Management</h1>
                                <figure><img
                                        src="https://i1.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/construction-management.jpg?fit=400%2C227"
                                        alt="Construction Management"></figure>
                                <p>Cras enim nisl, pellentesque sed nunc non, pulvinar gravida neque. Phasellus volutpat
                                    tellus sit amet sapien imperdiet facilisis. Vestibulum id egestas velit. Sed
                                    efficitur purus in metus</p>
                                <button class="more" data-toggle="modal" data-target="#serviceModal2"
                                    data-aos="fade-up">more</button>
                            </div><!-- /.service-->
                        </div><!-- /.col-md-4-->


                        <div class="col-md-4">
                            <div class="service">

                                <h1>Architecture</h1>
                                <figure><img
                                        src="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/architecture.jpg?fit=400%2C227"
                                        alt="Architecture"></figure>
                                <p>Cras enim nisl, pellentesque sed nunc non, pulvinar gravida neque. Phasellus volutpat
                                    tellus sit amet sapien imperdiet facilisis. Vestibulum id egestas velit. Sed
                                    efficitur purus in metus</p>
                                <button class="more" data-toggle="modal" data-target="#serviceModal3"
                                    data-aos="fade-up">more</button>
                            </div><!-- /.service-->
                        </div><!-- /.col-md-4-->



                    </div><!-- /.row-->
                </div><!-- /.container-->

                <div class="modal modal-fullscreen fade nomore-modals" tabindex="-1" role="dialog" aria-hidden="true">
                </div>




                <div class="modal modal-fullscreen fade" id="serviceModal1" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <button type="button" class="close" data-dismiss="modal"><i class="ion-android-close"></i></button>

                    <div class="modal-dialog service-modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img class="modal-logo"
                                    src="./images/white-logo.png "
                                    alt="Consta &#8211; One Page Construction Wordpress Theme">
                                <h1 class="modal-title">Renovation</h1>
                                <hr>
                            </div><!-- /.modal-header-->

                            <div class="modal-body">
                                <figure>
                                    <img src="https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/renovation.jpg?fit=400%2C228"
                                        alt="Renovation">
                                </figure>
                                <div class="text-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra,
                                        lectus ac bibendum tempus, leo ex pharetra urna, et rhoncus arcu nisi iaculis
                                        mi. Pellentesque at viverra enim, ut maximus tortor. Mauris sollicitudin, elit
                                        vitae volutpat mattis, diam neque euismod orci, id semper justo eros vel augue.
                                        Suspendisse potenti. Praesent tincidunt suscipit risus id euismod. Curabitur at
                                        ultrices orci. Curabitur ultrices finibus nisi vel commodo. In vehicula diam
                                        erat, eu tempus elit molestie ac. Nullam tincidunt neque a justo pellentesque,
                                        nec lobortis purus aliquet. Sed vitae ex dolor.</p>
                                    <p>Nam at mauris vitae metus vulputate fermentum nec sit amet lectus. Donec quis
                                        euismod risus. Aenean finibus porttitor tempor. Nam id ex pharetra, eleifend
                                        felis non, varius risus. Cum sociis natoque penatibus et magnis dis parturient
                                        montes, nascetur ridiculus mus. Ut placerat leo eu malesuada finibus. Nullam a
                                        sapien fringilla, gravida enim ut, tincidunt nisi. Aliquam vitae facilisis
                                        tellus, vitae hendrerit nulla. Proin elementum lacinia porta. Cras diam eros,
                                        tempor a blandit ut, sodales ut ipsum. Nam quis maximus tortor. Aliquam erat
                                        volutpat. Donec et suscipit sapien. Ut congue orci enim, eget pellentesque
                                        sapien tempor sed. Etiam enim libero, facilisis quis maximus sit amet, facilisis
                                        eget eros.</p>
                                    <p>Aliquam leo lorem, fringilla vel odio id, efficitur pulvinar est. Donec lobortis
                                        quam velit, in venenatis urna condimentum semper. Fusce dictum, mauris non
                                        aliquam faucibus, purus metus condimentum massa, in bibendum nunc lacus in odio.
                                        Morbi egestas leo eu tortor pharetra tincidunt. In at orci ut sem vestibulum
                                        vestibulum non id arcu. Donec risus tellus, imperdiet mollis ultrices eget,
                                        feugiat congue magna. Fusce nisl nunc, auctor at tellus quis, elementum eleifend
                                        tellus. Nullam id felis porta, dapibus arcu id, scelerisque dui.</p>
                                    <p>Nulla ac augue non augue laoreet ullamcorper. Duis sollicitudin elit nec est
                                        dapibus varius. Nulla vel gravida dui. Integer non mauris eget sem pretium
                                        fringilla non at quam. Proin purus nisi, pellentesque vel laoreet vitae, tempor
                                        vel nibh. Mauris nec lacus id lectus imperdiet vestibulum. Quisque fringilla,
                                        mauris sodales convallis rutrum, lorem elit mattis orci, ac vulputate est risus
                                        non massa. Nulla eu risus a mauris vulputate congue vel ut lorem. Integer cursus
                                        ex sit amet porttitor elementum. Etiam ut ultricies nisl, ut consequat nibh.
                                        Vestibulum nec mattis justo. In accumsan, justo non convallis viverra, odio eros
                                        faucibus ex, sit amet bibendum odio ante at nisi.</p>
                                </div><!-- /.text-content-->
                            </div><!-- /.modal-body-->

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn-prev">Previous Service</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn-next">Next Service</button>
                                    </div>
                                </div>
                            </div><!-- /.modal-footer-->
                        </div><!-- /.modal-content-->
                    </div><!-- /.modal-dialog-->
                </div><!-- /#serviceModal-->




                <div class="modal modal-fullscreen fade" id="serviceModal2" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <button type="button" class="close" data-dismiss="modal"><i class="ion-android-close"></i></button>

                    <div class="modal-dialog service-modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img class="modal-logo"
                                    src="./images/white-logo.png "
                                    alt="Consta &#8211; One Page Construction Wordpress Theme">
                                <h1 class="modal-title">Construction Management</h1>
                                <hr>
                            </div><!-- /.modal-header-->

                            <div class="modal-body">
                                <figure>
                                    <img src="https://i1.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/construction-management.jpg?fit=400%2C227"
                                        alt="Construction Management">
                                </figure>
                                <div class="text-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra,
                                        lectus ac bibendum tempus, leo ex pharetra urna, et rhoncus arcu nisi iaculis
                                        mi. Pellentesque at viverra enim, ut maximus tortor. Mauris sollicitudin, elit
                                        vitae volutpat mattis, diam neque euismod orci, id semper justo eros vel augue.
                                        Suspendisse potenti. Praesent tincidunt suscipit risus id euismod. Curabitur at
                                        ultrices orci. Curabitur ultrices finibus nisi vel commodo. In vehicula diam
                                        erat, eu tempus elit molestie ac. Nullam tincidunt neque a justo pellentesque,
                                        nec lobortis purus aliquet. Sed vitae ex dolor.</p>
                                    <p>Nam at mauris vitae metus vulputate fermentum nec sit amet lectus. Donec quis
                                        euismod risus. Aenean finibus porttitor tempor. Nam id ex pharetra, eleifend
                                        felis non, varius risus. Cum sociis natoque penatibus et magnis dis parturient
                                        montes, nascetur ridiculus mus. Ut placerat leo eu malesuada finibus. Nullam a
                                        sapien fringilla, gravida enim ut, tincidunt nisi. Aliquam vitae facilisis
                                        tellus, vitae hendrerit nulla. Proin elementum lacinia porta. Cras diam eros,
                                        tempor a blandit ut, sodales ut ipsum. Nam quis maximus tortor. Aliquam erat
                                        volutpat. Donec et suscipit sapien. Ut congue orci enim, eget pellentesque
                                        sapien tempor sed. Etiam enim libero, facilisis quis maximus sit amet, facilisis
                                        eget eros.</p>
                                    <p>Aliquam leo lorem, fringilla vel odio id, efficitur pulvinar est. Donec lobortis
                                        quam velit, in venenatis urna condimentum semper. Fusce dictum, mauris non
                                        aliquam faucibus, purus metus condimentum massa, in bibendum nunc lacus in odio.
                                        Morbi egestas leo eu tortor pharetra tincidunt. In at orci ut sem vestibulum
                                        vestibulum non id arcu. Donec risus tellus, imperdiet mollis ultrices eget,
                                        feugiat congue magna. Fusce nisl nunc, auctor at tellus quis, elementum eleifend
                                        tellus. Nullam id felis porta, dapibus arcu id, scelerisque dui.</p>
                                    <p>Nulla ac augue non augue laoreet ullamcorper. Duis sollicitudin elit nec est
                                        dapibus varius. Nulla vel gravida dui. Integer non mauris eget sem pretium
                                        fringilla non at quam. Proin purus nisi, pellentesque vel laoreet vitae, tempor
                                        vel nibh. Mauris nec lacus id lectus imperdiet vestibulum. Quisque fringilla,
                                        mauris sodales convallis rutrum, lorem elit mattis orci, ac vulputate est risus
                                        non massa. Nulla eu risus a mauris vulputate congue vel ut lorem. Integer cursus
                                        ex sit amet porttitor elementum. Etiam ut ultricies nisl, ut consequat nibh.
                                        Vestibulum nec mattis justo. In accumsan, justo non convallis viverra, odio eros
                                        faucibus ex, sit amet bibendum odio ante at nisi.</p>
                                </div><!-- /.text-content-->
                            </div><!-- /.modal-body-->

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn-prev">Previous Service</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn-next">Next Service</button>
                                    </div>
                                </div>
                            </div><!-- /.modal-footer-->
                        </div><!-- /.modal-content-->
                    </div><!-- /.modal-dialog-->
                </div><!-- /#serviceModal-->




                <div class="modal modal-fullscreen fade" id="serviceModal3" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <button type="button" class="close" data-dismiss="modal"><i class="ion-android-close"></i></button>

                    <div class="modal-dialog service-modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img class="modal-logo"
                                    src="./images/white-logo.png "
                                    alt="Consta &#8211; One Page Construction Wordpress Theme">
                                <h1 class="modal-title">Architecture</h1>
                                <hr>
                            </div><!-- /.modal-header-->

                            <div class="modal-body">
                                <figure>
                                    <img src="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/architecture.jpg?fit=400%2C227"
                                        alt="Architecture">
                                </figure>
                                <div class="text-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra,
                                        lectus ac bibendum tempus, leo ex pharetra urna, et rhoncus arcu nisi iaculis
                                        mi. Pellentesque at viverra enim, ut maximus tortor. Mauris sollicitudin, elit
                                        vitae volutpat mattis, diam neque euismod orci, id semper justo eros vel augue.
                                        Suspendisse potenti. Praesent tincidunt suscipit risus id euismod. Curabitur at
                                        ultrices orci. Curabitur ultrices finibus nisi vel commodo. In vehicula diam
                                        erat, eu tempus elit molestie ac. Nullam tincidunt neque a justo pellentesque,
                                        nec lobortis purus aliquet. Sed vitae ex dolor.</p>
                                    <p>Nam at mauris vitae metus vulputate fermentum nec sit amet lectus. Donec quis
                                        euismod risus. Aenean finibus porttitor tempor. Nam id ex pharetra, eleifend
                                        felis non, varius risus. Cum sociis natoque penatibus et magnis dis parturient
                                        montes, nascetur ridiculus mus. Ut placerat leo eu malesuada finibus. Nullam a
                                        sapien fringilla, gravida enim ut, tincidunt nisi. Aliquam vitae facilisis
                                        tellus, vitae hendrerit nulla. Proin elementum lacinia porta. Cras diam eros,
                                        tempor a blandit ut, sodales ut ipsum. Nam quis maximus tortor. Aliquam erat
                                        volutpat. Donec et suscipit sapien. Ut congue orci enim, eget pellentesque
                                        sapien tempor sed. Etiam enim libero, facilisis quis maximus sit amet, facilisis
                                        eget eros.</p>
                                    <p>Aliquam leo lorem, fringilla vel odio id, efficitur pulvinar est. Donec lobortis
                                        quam velit, in venenatis urna condimentum semper. Fusce dictum, mauris non
                                        aliquam faucibus, purus metus condimentum massa, in bibendum nunc lacus in odio.
                                        Morbi egestas leo eu tortor pharetra tincidunt. In at orci ut sem vestibulum
                                        vestibulum non id arcu. Donec risus tellus, imperdiet mollis ultrices eget,
                                        feugiat congue magna. Fusce nisl nunc, auctor at tellus quis, elementum eleifend
                                        tellus. Nullam id felis porta, dapibus arcu id, scelerisque dui.</p>
                                    <p>Nulla ac augue non augue laoreet ullamcorper. Duis sollicitudin elit nec est
                                        dapibus varius. Nulla vel gravida dui. Integer non mauris eget sem pretium
                                        fringilla non at quam. Proin purus nisi, pellentesque vel laoreet vitae, tempor
                                        vel nibh. Mauris nec lacus id lectus imperdiet vestibulum. Quisque fringilla,
                                        mauris sodales convallis rutrum, lorem elit mattis orci, ac vulputate est risus
                                        non massa. Nulla eu risus a mauris vulputate congue vel ut lorem. Integer cursus
                                        ex sit amet porttitor elementum. Etiam ut ultricies nisl, ut consequat nibh.
                                        Vestibulum nec mattis justo. In accumsan, justo non convallis viverra, odio eros
                                        faucibus ex, sit amet bibendum odio ante at nisi.</p>
                                </div><!-- /.text-content-->
                            </div><!-- /.modal-body-->

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn-prev">Previous Service</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn-next">Next Service</button>
                                    </div>
                                </div>
                            </div><!-- /.modal-footer-->
                        </div><!-- /.modal-content-->
                    </div><!-- /.modal-dialog-->
                </div><!-- /#serviceModal-->




                <div class="modal modal-fullscreen fade" id="serviceModal4" tabindex="-1" role="dialog"
                    aria-hidden="true">
                    <button type="button" class="close" data-dismiss="modal"><i class="ion-android-close"></i></button>

                    <div class="modal-dialog service-modal">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img class="modal-logo"
                                    src="./images/white-logo.png "
                                    alt="Consta &#8211; One Page Construction Wordpress Theme">
                                <h1 class="modal-title">Building Information Modeling</h1>
                                <hr>
                            </div><!-- /.modal-header-->

                            <div class="modal-body">
                                <figure>
                                    <img src="https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/1.jpg?fit=1920%2C1210"
                                        alt="Building Information Modeling">
                                </figure>
                                <div class="text-content">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pharetra,
                                        lectus ac bibendum tempus, leo ex pharetra urna, et rhoncus arcu nisi iaculis
                                        mi. Pellentesque at viverra enim, ut maximus tortor. Mauris sollicitudin, elit
                                        vitae volutpat mattis, diam neque euismod orci, id semper justo eros vel augue.
                                        Suspendisse potenti. Praesent tincidunt suscipit risus id euismod. Curabitur at
                                        ultrices orci. Curabitur ultrices finibus nisi vel commodo. In vehicula diam
                                        erat, eu tempus elit molestie ac. Nullam tincidunt neque a justo pellentesque,
                                        nec lobortis purus aliquet. Sed vitae ex dolor.</p>
                                    <p>Nam at mauris vitae metus vulputate fermentum nec sit amet lectus. Donec quis
                                        euismod risus. Aenean finibus porttitor tempor. Nam id ex pharetra, eleifend
                                        felis non, varius risus. Cum sociis natoque penatibus et magnis dis parturient
                                        montes, nascetur ridiculus mus. Ut placerat leo eu malesuada finibus. Nullam a
                                        sapien fringilla, gravida enim ut, tincidunt nisi. Aliquam vitae facilisis
                                        tellus, vitae hendrerit nulla. Proin elementum lacinia porta. Cras diam eros,
                                        tempor a blandit ut, sodales ut ipsum. Nam quis maximus tortor. Aliquam erat
                                        volutpat. Donec et suscipit sapien. Ut congue orci enim, eget pellentesque
                                        sapien tempor sed. Etiam enim libero, facilisis quis maximus sit amet, facilisis
                                        eget eros.</p>
                                    <p>Aliquam leo lorem, fringilla vel odio id, efficitur pulvinar est. Donec lobortis
                                        quam velit, in venenatis urna condimentum semper. Fusce dictum, mauris non
                                        aliquam faucibus, purus metus condimentum massa, in bibendum nunc lacus in odio.
                                        Morbi egestas leo eu tortor pharetra tincidunt. In at orci ut sem vestibulum
                                        vestibulum non id arcu. Donec risus tellus, imperdiet mollis ultrices eget,
                                        feugiat congue magna. Fusce nisl nunc, auctor at tellus quis, elementum eleifend
                                        tellus. Nullam id felis porta, dapibus arcu id, scelerisque dui.</p>
                                    <p>Nulla ac augue non augue laoreet ullamcorper. Duis sollicitudin elit nec est
                                        dapibus varius. Nulla vel gravida dui. Integer non mauris eget sem pretium
                                        fringilla non at quam. Proin purus nisi, pellentesque vel laoreet vitae, tempor
                                        vel nibh. Mauris nec lacus id lectus imperdiet vestibulum. Quisque fringilla,
                                        mauris sodales convallis rutrum, lorem elit mattis orci, ac vulputate est risus
                                        non massa. Nulla eu risus a mauris vulputate congue vel ut lorem. Integer cursus
                                        ex sit amet porttitor elementum. Etiam ut ultricies nisl, ut consequat nibh.
                                        Vestibulum nec mattis justo. In accumsan, justo non convallis viverra, odio eros
                                        faucibus ex, sit amet bibendum odio ante at nisi.</p>
                                </div><!-- /.text-content-->
                            </div><!-- /.modal-body-->

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn-prev">Previous Service</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn-next">Next Service</button>
                                    </div>
                                </div>
                            </div><!-- /.modal-footer-->
                        </div><!-- /.modal-content-->
                    </div><!-- /.modal-dialog-->
                </div><!-- /#serviceModal-->



            </div><!-- /.services-wrapper-->
        </section><!-- /.section-services-->

        <section id="blog" class="section section-blog">
            <div class="section-title">
                <span class="vertical-line" data-aos="fade-up"></span>
                <h3 data-aos="fade-up">Our Blog</h3>
                <span class="vertical-line bottom" data-aos="fade-up" data-aos-delay="300"></span>
            </div><!-- /.section-title-->

            <div class="home-blog-posts">
                <div class="container">
                    <div class="row">



                        <div class="col-md-8">
                            <div class="post big">
                                <div class="title">
                                    <h1>Bugatti Empire &#8211; Construction Kit (Included Midi Files)</h1>
                                </div><!-- /.title-->
                                <figure>

                                    <a href="http://demo.iamarif.com/consta-wp/bugatti-empire-construction-kit-included-midi-files/"
                                        aria-hidden="true">
                                        <img width="1200" height="801"
                                            src="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post2.jpg?fit=1200%2C801"
                                            class="attachment-full size-full wp-post-image"
                                            alt="Bugatti Empire &#8211; Construction Kit (Included Midi Files)"
                                            srcset="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post2.jpg?w=1200 1200w, https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post2.jpg?resize=300%2C200 300w, https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post2.jpg?resize=768%2C513 768w, https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post2.jpg?resize=1024%2C684 1024w"
                                            sizes="(max-width: 1200px) 100vw, 1200px" data-attachment-id="44"
                                            data-permalink="http://demo.iamarif.com/consta-wp/construction-industry-in-europe/post2/"
                                            data-orig-file="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post2.jpg?fit=1200%2C801"
                                            data-orig-size="1200,801" data-comments-opened="1"
                                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                            data-image-title="Gallery#1" data-image-description=""
                                            data-medium-file="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post2.jpg?fit=300%2C200"
                                            data-large-file="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post2.jpg?fit=1024%2C684" />
                                    </a>

                                </figure>
                                <div class="wrapper">
                                    <div class="row first">
                                        <div class="col-xs-6">
                                            <div class="author">Arif</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="date">January 5, 2017</div>
                                        </div>
                                    </div><!-- /.row-->
                                    <div class="excerpt">
                                        <p>One Sunday in May, many countries celebrate mother’s day in order to thank
                                            their mothers for all the hard work and effort they put in the education of
                                            everyone of us. This special occasion will occur this Sunday. So we take the
                                            opportunity to thank our mothers with a very Building Radar like article.
                                            For mother’s day Building Radar wants to allude to all mothers and how they
                                            have been an inspiration to several architects. The constructions in this
                                            articles have been directly or indirectly been inspired by the architects
                                            mothers.

                                            This home tries to blend in its environment while taking a...</p>
                                    </div><!-- /.excerpt-->

                                    <div class="row second">
                                        <div class="col-xs-6">
                                            <a href="http://demo.iamarif.com/consta-wp/bugatti-empire-construction-kit-included-midi-files/"
                                                class="normal-btn">read more</a>
                                        </div>
                                        <div class="col-xs-6">
                                            <span class="nof-comments">No Comments</span>
                                        </div>
                                    </div>
                                </div><!-- /.wrapper-->
                            </div><!-- /.post-->
                        </div><!-- /.col-md-8-->
                        <div class="col-md-4 small-posts">




                            <div class="post small">
                                <figure>

                                    <a href="http://demo.iamarif.com/consta-wp/construction-industry-in-europe/"
                                        aria-hidden="true">
                                        <img width="1200" height="800"
                                            src="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post5.jpg?fit=1200%2C800"
                                            class="attachment-full size-full wp-post-image"
                                            alt="Construction Industry in Europe"
                                            srcset="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post5.jpg?w=1200 1200w, https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post5.jpg?resize=300%2C200 300w, https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post5.jpg?resize=768%2C512 768w, https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post5.jpg?resize=1024%2C683 1024w"
                                            sizes="(max-width: 1200px) 100vw, 1200px" data-attachment-id="47"
                                            data-permalink="http://demo.iamarif.com/consta-wp/construction-industry-in-europe/post5/"
                                            data-orig-file="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post5.jpg?fit=1200%2C800"
                                            data-orig-size="1200,800" data-comments-opened="1"
                                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                            data-image-title="Gallery#2" data-image-description=""
                                            data-medium-file="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post5.jpg?fit=300%2C200"
                                            data-large-file="https://i2.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post5.jpg?fit=1024%2C683" />
                                    </a>

                                </figure>
                                <div class="wrapper">
                                    <div class="title">
                                        <h1>Construction Industry in Europe</h1>
                                    </div><!-- /.title-->
                                    <div class="row first">
                                        <div class="col-xs-6">
                                            <div class="author">Arif</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="date">January 7, 2017</div>
                                        </div>
                                    </div><!-- /.row-->
                                    <div class="excerpt">
                                        <p>To get data for the construction industry in Europe can be a pain. Building
                                            Radar is all about reducing pain and collecting data. This is why we wanted
                                            to make some construction data for the European ...</p>
                                    </div><!-- /.excerpt-->
                                </div><!-- /.wrapper-->
                            </div><!-- /.post.small-->




                            <div class="post small">
                                <figure>

                                    <a href="http://demo.iamarif.com/consta-wp/how-do-requests-for-proposal-work/"
                                        aria-hidden="true">
                                        <img width="680" height="385"
                                            src="https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post4.jpg?fit=680%2C385"
                                            class="attachment-full size-full wp-post-image"
                                            alt="How do Requests for Proposal work?"
                                            srcset="https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post4.jpg?w=680 680w, https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post4.jpg?resize=300%2C170 300w"
                                            sizes="(max-width: 680px) 100vw, 680px" data-attachment-id="46"
                                            data-permalink="http://demo.iamarif.com/consta-wp/construction-industry-in-europe/post4/"
                                            data-orig-file="https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post4.jpg?fit=680%2C385"
                                            data-orig-size="680,385" data-comments-opened="1"
                                            data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                            data-image-title="post4" data-image-description=""
                                            data-medium-file="https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post4.jpg?fit=300%2C170"
                                            data-large-file="https://i0.wp.com/demo.iamarif.com/consta-wp/wp-content/uploads/2017/01/post4.jpg?fit=680%2C385" />
                                    </a>

                                </figure>
                                <div class="wrapper">
                                    <div class="title">
                                        <h1>How do Requests for Proposal work?</h1>
                                    </div><!-- /.title-->
                                    <div class="row first">
                                        <div class="col-xs-6">
                                            <div class="author">Arif</div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="date">January 16, 2017</div>
                                        </div>
                                    </div><!-- /.row-->
                                    <div class="excerpt">
                                        <p>Besides finding current construction projects, Building Radar offers you the
                                            opportunity for a real-time search of requests for proposal (RFP) of
                                            thousands of sources with intelligent filters. Request...</p>
                                    </div><!-- /.excerpt-->
                                </div><!-- /.wrapper-->
                            </div><!-- /.post.small-->



                            <a class="normal-btn" href="http://demo.iamarif.com/consta-wp/blog">Go To Blog</a>
                        </div><!-- /.col-md-4-->

                    </div><!-- /.row-->
                </div><!-- /.container-->
            </div><!-- /.blog-posts-->

        </section><!-- /.section-blog-->


        <footer>
            <div class="container">
                <div class="row">
                    <div class="top-section">
                        <div class="col-md-4">
                            <div class="social">
                                <ul>

                                    <li>
                                        <a target="_blank" href="http://facebook.com/arifevrenerdem"><i
                                                class="ion-social-facebook"></i></a>
                                    </li>

                                    <li>
                                        <a target="_blank" href="http://twitter.com/#"><i
                                                class="ion-social-twitter"></i></a>
                                    </li>


                                    <li>
                                        <a target="_blank" href="http://instagram.com/#"><i
                                                class="ion-social-instagram"></i></a>
                                    </li>



                                    <li>
                                        <a target="_blank" href="http://plus.goole.com/#"><i
                                                class="ion-social-googleplus"></i></a>
                                    </li>








                                    <li>
                                        <a target="_blank" href="#"><i class="ion-social-linkedin"></i></a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="footer-logo">
                                <a href=" http://demo.iamarif.com/consta-wp/ " class="logo"><img
                                        src="./images/logo-text.png "
                                        alt="Consta &#8211; One Page Construction Wordpress Theme"></a>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div id="consta_subscribe_widget_container-3" class="widget consta-subscribe-widget">

                                <form class="mailchimp">
                                    <!-- Subscription messages -->
                                    <h4 class="subscription-success">s</h4>
                                    <h4 class="subscription-error">e</h4>

                                    <div class="form-group">
                                        <input id="email" type="email" required="required" name="subscriber-email"
                                            placeholder="please enter your email" />
                                        <input type="hidden" aria-hidden="true" name="uri"
                                            value="http://arifevrenerdem.us11.list-manage.com/subscribe/post?u=406e31254715533ce9d357b56&amp;id=a088eee114" />
                                        <input type="hidden" aria-hidden="true" value="en_US" name="loc" />
                                        <button type="submit"><i class="ion-paper-airplane"></i></button>
                                    </div>
                                </form>


                                <!-- Mailchimp Ajax -->
                                {# <script type="text/javascript">
                                    jQuery(function () {

                                        jQuery('.mailchimp').ajaxChimp({
                                            callback: mailchimpCallback,
                                            url: "http://arifevrenerdem.us11.list-manage.com/subscribe/post?u=406e31254715533ce9d357b56&amp;id=a088eee114"
                                        });

                                        function mailchimpCallback(resp) {
                                            if (resp.result === 'success') {
                                                jQuery('.subscription-success').html(resp.msg).fadeIn(1000);
                                                jQuery('.subscription-error').fadeOut(500);

                                            } else if (resp.result === 'error') {
                                                jQuery('.subscription-error').html(resp.msg).fadeIn(1000);
                                            }
                                        }
                                    });
                                </script> #}

                            </div>
                        </div>
                    </div><!-- /.top-section-->

                    <div class="bottom-section">
                        <div class="col-sm-4">
                            <p class="copyright">© 2016 Consta Construction Co.</p>
                        </div>
                        <div class="col-sm-4">
                            <div class="aligncenter">
                                <p class="text-white">+61 3 8376 6284</p>
                                <p class="text-white">+61 3 8376 6284</p>
                                <p class="text-white">dummy@dummy.com</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <p class="address">121 King Street, Melbourne
                                Victoria 3000 Australia</p>
                        </div>
                        <div class="clearfix"></div>
                    </div><!-- /.bottom-section-->
                </div><!-- /.row-->
            </div><!-- /.container-->
        </footer>
        <a href="#" class="back-to-top"><i class="ion-chevron-up"></i></a>
    </div><!-- /.wrapper-content-->

    <div style="display:none">
    </div>
    
</div>