<head>
    <meta charset="UTF-8">
    <title>AC - Construction Mobile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name='robots' content='noindex,follow' />
    <link rel='dns-prefetch' href='//s0.wp.com' />
    <link rel='dns-prefetch' href='//maps.googleapis.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="Consta - One Page Construction Wordpress Theme &raquo; Feed"
        href="http://demo.iamarif.com/consta-wp/feed/" />
    <link rel="alternate" type="application/rss+xml"
        title="Consta - One Page Construction Wordpress Theme &raquo; Comments Feed"
        href="http://demo.iamarif.com/consta-wp/comments/feed/" />
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <style type='text/css'>
        img#wpstats {
            display: none
        }
    </style>
    <style type="text/css">
        blockquote {
            border-left-color: #ffb400;
        }
    
        main aside .widget.widget_tag_cloud a {
            border-color: #ffb400;
            color: #1f2528;
        }
    
        @media only screen and (max-width: 768px) {
            .section-getaquote .wrapper {
                background: #ffb400;
            }
        }
    
        .section-slider #owl-consta .item .caption .frame {
            border-color: #ffb400;
        }
    
        .modal-fullscreen .modal-dialog .modal-content .modal-header hr,
        .wpcf7-submit,
        main .comment-section .comment-respond .form-submit .submit,
        .section-slider #owl-consta .owl-nav .owl-prev:hover,
        .section-slider #owl-consta .owl-nav .owl-next:hover,
        .section-corporate .about-text .line,
        .section-team .team-member .social-accounts ul li,
        .section-vehicles .vehicle-wrapper:before,
        .section-services .services-wrapper .service .more,
        .section-services .services-wrapper .service.center:before,
        .section-projects .projects .load-more,
        .section-getaquote .wrapper .col-md-10,
        .section-getaquote .wrapper .col-md-10:before,
        .section-getaquote .dark-bg:after,
        main .post .post-content #owl-gallery .owl-controls .owl-nav .owl-prev:hover,
        main .post .post-content #owl-gallery .owl-controls .owl-nav .owl-next:hover,
        main .post .read-more,
        main aside .widget.consta_popularposts_widget #owl-popular .owl-controls .owl-dots .owl-dot.active span,
        main aside .widget.widget_tag_cloud a:hover,
        .normal-btn,
        footer .top-section,
        .back-to-top {
            background: #ffb400;
        }
    
    
        .modal-fullscreen .modal-dialog.project-modal .modal-content .modal-header .location,
        .modal-fullscreen .modal-dialog.project-modal .modal-content .modal-body .project-features ul li h2,
        .langs li a:hover,
        .nav-container .nav-container-top .menu li.menu-item-has-children ul li a,
        .nav-container .nav-container-bottom .company-profile li a,
        .section-corporate .about-text h2 strong,
        .section-corporate .fact-circles .circle .circle-content span.number,
        .section-vehicles .vehicle-wrapper .icon i .numberofvehicles em,
        .section-projects .project-filter ul li button,
        .section-projects .projects .project-box p,
        .section-blog .home-blog-posts .post .row.first .author,
        .section-hero .hero-text .breadcrumb span.current,
        main .post .post-meta .date .date-text,
        main .post .post-meta .categories a,
        main .comment-section .comment-section-title span,
        main .comment-section .comments-list .comment .comment-body em,
        main .post-navigation .nav-next a:before,
        main .post-navigation .nav-previous a:before,
        main aside .widget.widget_categories ul li,
        main aside .widget.widget_archive ul li,
        main aside .widget.widget_recent_entries ul li,
        main aside .widget.widget_recent_comments ul li,
        main aside .widget.widget_meta ul li,
        main aside .widget.consta_popularposts_widget #owl-popular figure figcaption .post-type,
        main aside .widget.consta_social_widget ul li a {
            color: #ffb400;
        }
    
    
    
    
    
        body.page-template-kc-builder header,
        header.scrolling,
        header.consta-slider-off,
        .tag header.consta-slider-off,
        main .post-navigation .nav-next a {
            background: #1f2528;
            border-bottom-color: #1f2528;
        }
    
        .langs {
            background: #1f2528 url(http://demo.iamarif.com/consta-wp/wp-content/themes/consta/assets/images/other/lang-world.png) top left no-repeat;
        }
    
        .search-message,
        .section-title .vertical-line,
        .section-title .vertical-line.bottom:after,
        .modal-fullscreen,
        .modal-backdrop.modal-backdrop-fullscreen,
        .langs:before,
        .nav-container,
        .section-slider #owl-consta .item .caption .frame .buttons .caption-button.dark,
        .section-slider #owl-consta .item .caption .frame .buttons .caption-button.white:after,
        .section-corporate .about-line,
        .section-corporate .about-text .line.gray,
        .section-vehicles .vehicle-wrapper .icon i .numberofvehicles,
        .section-services .services-wrapper .service.center .more,
        .section-getaquote .dark-bg,
        .section-references .references .col-md-3:nth-child(1) .reference:before,
        .section-references .references .col-md-3:nth-child(1) .reference:after,
        .section-references .references .col-md-3:nth-child(2) .reference:before,
        .section-references .references .col-md-3:nth-child(2) .reference:after,
        .section-references .references .col-md-3:nth-child(3) .reference:before,
        .section-references .references .col-md-3:nth-child(3) .reference:after,
        .section-contact .contact-form,
        footer,
        footer .top-section .mailchimp .subscription-error,
        .tag .nav-container,
        main .post .read-more:hover,
        main .post-navigation .nav-previous a:hover,
        main .post-navigation .nav-next a:hover,
        main .pager li a:hover,
        main aside .widget.consta_popularposts_widget #owl-popular .owl-controls .owl-dots .owl-dot span {
            background: #1f2528;
        }
    
        blockquote p,
        .section-title h3,
        .section-title h3:before,
        .section-slider #owl-consta .item .caption .frame .buttons .caption-button.white,
        .section-corporate .about-text h2,
        .section-corporate .fact-circles .circle .circle-content span,
        .section-team #owl-team .owl-controls .owl-nav .owl-prev:before,
        .section-team #owl-team .owl-controls .owl-nav .owl-next:before,
        .section-team .team-member .member-name,
        .section-vehicles .white-frame h1,
        .section-services .services-wrapper .service p,
        .section-projects .project-filter ul li:first-child button,
        .section-projects .projects .project-box h3,
        .section-blog .home-blog-posts .post .title h1,
        .section-blog .home-blog-posts .post .row.first,
        .section-blog .home-blog-posts .post .row.second .nof-comments,
        .section-blog .home-blog-posts .post .excerpt p,
        .blog .nav-container .nav-container-top .menu li:hover a,
        .blog .nav-container .nav-container-top .menu li.active a,
        .error404 .nav-container .nav-container-top .menu li:hover a,
        .error404 .nav-container .nav-container-top .menu li.active a,
        .page-template-default .nav-container .nav-container-top .menu li:hover a,
        .page-template-default .nav-container .nav-container-top .menu li.active a,
        .archive .nav-container .nav-container-top .menu li:hover a,
        .archive .nav-container .nav-container-top .menu li.active a,
        .search .nav-container .nav-container-top .menu li:hover a,
        .search .nav-container .nav-container-top .menu li.active a,
        .tag .nav-container .nav-container-top .menu li:hover a,
        .tag .nav-container .nav-container-top .menu li.active a,
        main aside .widget.consta_social_widget ul li a:hover {
            color: #1f2528;
        }
    
    
    
    
    
        .lang-trigger,
        body.page-template-kc-builder header .lang-trigger,
        header.scrolling .lang-trigger,
        header.consta-slider-off .lang-trigger,
        .blog header.scrolling .lang-trigger,
        .blog header.dark-header .lang-trigger,
        .blog header.consta-slider-off .lang-trigger,
        .error404 header.scrolling .lang-trigger,
        .error404 header.dark-header .lang-trigger,
        .error404 header.consta-slider-off .lang-trigger,
        .page-template-default header.scrolling .lang-trigger,
        .page-template-default header.dark-header .lang-trigger,
        .page-template-default header.consta-slider-off .lang-trigger,
        .archive header.scrolling .lang-trigger,
        .archive header.dark-header .lang-trigger,
        .archive header.consta-slider-off .lang-trigger,
        .search header.scrolling .lang-trigger,
        .search header.dark-header .lang-trigger,
        .search header.consta-slider-off .lang-trigger,
        .tag header.scrolling .lang-trigger,
        .tag header.dark-header .lang-trigger,
        .tag header.consta-slider-off .lang-trigger {
            color: #ffffff;
        }
    
        .nav-trigger span,
        .nav-trigger span::before,
        .nav-trigger span::after,
        body.page-template-kc-builder header .nav-trigger span,
        body.page-template-kc-builder header .nav-trigger span::before,
        body.page-template-kc-builder header .nav-trigger span::after,
        header.scrolling .nav-trigger span,
        header.consta-slider-off .nav-trigger span,
        header.scrolling .nav-trigger span::before,
        header.scrolling .nav-trigger span::after,
        header.consta-slider-off .nav-trigger span::before,
        header.consta-slider-off .nav-trigger span::after {
            background: #ffffff;
        }
    
        .nav-container .nav-container-top .menu li a,
        .blog .nav-container .nav-container-top .menu li a,
        .error404 .nav-container .nav-container-top .menu li a,
        .page-template-default .nav-container .nav-container-top .menu li a,
        .archive .nav-container .nav-container-top .menu li a,
        .search .nav-container .nav-container-top .menu li a,
        .tag .nav-container .nav-container-top .menu li a {
            color: #ffffff;
        }
    
        .nav-container .nav-container-top .menu li.menu-item-has-children ul li a,
        .blog .nav-container .nav-container-top .menu li.menu-item-has-children ul li a,
        .error404 .nav-container .nav-container-top .menu li.menu-item-has-children ul li a,
        .page-template-default .nav-container .nav-container-top .menu li.menu-item-has-children ul li a,
        .archive .nav-container .nav-container-top .menu li.menu-item-has-children ul li a,
        .search .nav-container .nav-container-top .menu li.menu-item-has-children ul li a,
        .tag .nav-container .nav-container-top .menu li.menu-item-has-children ul li a {
            color: #ffb400;
        }
    
        .section-team .team-member .arc.arc_start {
            border-color: transparent #f2f2f2 #f2f2f2 #f2f2f2;
        }
    
        .section-team .team-member .arc.arc_end {
            border-color: #f2f2f2 #f2f2f2 #f2f2f2 transparent;
        }
    
        .section-team .team-member .member-title {
            color: #a5a5a5;
        }
    
        .wpcf7-submit:hover,
        main .comment-section .comment-respond .form-submit .submit:hover {
            background: #626669;
        }
    
    
        footer .top-section .social ul li a {
            color: #ffffff;
        }
    
        footer .top-section .social ul li a:hover {
            color: #e6a200;
        }
    
        footer .top-section .mailchimp .form-group input {
            color: #ffffff;
        }
    
        footer .top-section .mailchimp .form-group button {
            color: #ffffff;
        }
    
        footer .bottom-section .copyright {
            color: #ffffff;
        }
    
        footer .bottom-section .address {
            color: #ffffff;
        }
    </style>
    <style type="text/css" id="kc-css-general">
        .kc-off-notice {
            display: inline-block !important;
        }
    
        .kc-container {
            max-width: 1170px;
        }
    </style>
    
    

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Consta - One Page Construction Wordpress Theme" />
    <meta property="og:description" content="Just another WordPress site" />
    <meta property="og:url" content="http://demo.iamarif.com/consta-wp/" />
    <meta property="og:site_name" content="Consta - One Page Construction Wordpress Theme" />
    <meta property="og:image" content="https://s0.wp.com/i/blank.jpg" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:text:title" content="Home" />
    <meta name="twitter:card" content="summary" />

    <script type="text/javascript"></script>
    
    <style type="text/css" id="kc-css-render"></style>
    
</head>